{% extends "poems/base.html" %}

{% block title %}Very Poetic | {{poem.title}}{% endblock %}
 
{% block nav_left %}
    {% if poem_to_left %}
        - <a href="/{{poem_to_left.pk}}"><<</a> 
    {% endif %}
    {% if poem_to_right %}
        - <a href="/{{poem_to_right.pk}}">>></a>
    {% endif %}
    
{% endblock %}

{% block nav_right %}
    <a href="{% url poems.views.edit poem.pk %}" class="admin">Edit</a> - 
    <a href="{% url poems.views.delete poem.pk %}" class="admin">Delete</a> - 
{% endblock %}
         
{% block article %}
    <h2 class="poem_title">{{poem.title}}</h2>
    <div class="author">by {{poem.user.username}}</a></div>

    <section>
        {{poem.content|linebreaks}}
    </section>
{% endblock %}

{% block footer %}{% endblock %}